.hide-me {
    position:absolute;
    z-index: -100;
}


#iframe1 {
    height: 100%;
    width: 100%;
}

#dimensions-modal {
    z-index: 100;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50px;
    left: 50px;
    background-color: #ddddff;
}

#iframe1-modal {
    z-index: 100;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50px;
    left: 50px;
    background-color: #ddddff;
}